<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pesquisa de Usuarios</title>
</head>
<body>
    <div class="conteudo">
        <div >
            <form class="formulario" method="get" th:action="@{/}" action="">
                <input type="text" class="login-input" placeholder="Digite o login" name="login" required>
                <button type="submit" class="botao-formulario">Pesquisar</button>
            </form>
        </div>
    </div>
</body>
</html>